.App {
  text-align: center;
}

table{
  width: 100%;
  border-collapse: collapse;
}

th, td{
  border: 1px solid blue;
  padding: 10px;
  text-align: left;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
}

.pagination .active {
  font-weight: bold;
}